.cssStyle{
  .border1 {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 50px solid;
    border-color: #96ceb4 #ffeead #d9534f #ffad60;
  }

  .border2 {
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-style:solid;
    border-width:0 50px 50px 50px;
    border-color: transparent transparent #d9534f;
  }

  .border3 {
    width: 0;
    height: 0;
    border-style:solid;
    border-width: 0 50px 50px;
    border-color: transparent transparent #d9534f;
    position: relative;
    &::after{
      content: '';
      border-style: solid;
      border-width: 0 40px 40px;
      border-color: transparent transparent #fff;
      position: absolute;
      top: 6px;
      left: -40px;
    }
  }

  .border4 {
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-bottom: #d9534f solid;
    border-right: transparent solid;
    border-width:85px;
  }
}

